.docente {
  width: 100%;
  margin: auto;
}
.barra-docente {
  background-color: #283334;

  width: 100%;
  padding: 10px 0px;
}
.barra-docente h2 {
  margin: 0px;
  font-size: 3em;
  color: #029ad4;
  text-align: center;
  text-transform: uppercase;
  padding: 40px auto;
}
.container-docentes {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 20px auto;
  gap: 10px;
  background-color: #029ad4;

  padding: 10px;
}
.item-docente {
  width: 100%;
  position: relative;
  background-color: #283334;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.item-docente img {
  max-width: 100%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}
.item-docente h2 {
  color: #fff;
  font-weight: 200;
}

.barra-abajo-ponente {
  background-color: #283334;
  width: 100%;
  padding: 10px 0px;
}
.barra-abajo-ponente h2 {
  margin: 0px;
  font-size: 2.2em;
  color: #029ad4;
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
}
@media (max-width: 768px) {
  .docente {
    width: 100%;
    margin: auto;
  }
  .barra-docente {
    background-color: #283334;
    width: 100%;
    padding: 0px 0px;
  }
  .barra-docente h2 {
    margin: 0px;
    font-size: 2em;
    color: #029ad4;
    text-align: center;
    text-transform: uppercase;
    padding: 40px auto;
  }
  .container-docentes {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin: 20px auto;
    gap: 10px;

    padding: 10px;
  }
  .item-docente {
    width: 100%;
    margin: 0px auto;
  }
  .item-docente img {
    max-width: 100%;
  }

  .barra-abajo-ponente {
    background-color: #283334;
    width: 100%;
    padding: 10px 0px;
  }
  .barra-abajo-ponente h2 {
    margin: 0px;
    font-size: 1.2em;
    color: #029ad4;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
  }
}
